<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Scan and follow me 😁</h1>
    <br>
    <div class="container">
        <div class="wrapper">
            <img src="<%= qrCode %>" alt="QR Code">
            <img src="https://blog.flamingtext.com/blog/2024/03/01/flamingtext_com_1709279328_194096058.png" id="logo" alt="">
        </div>
        <div class="wrapper">
            <img src="<%= github %>" alt="Github QR Code">
            <img src="https://static.vecteezy.com/system/resources/previews/016/833/880/original/github-logo-git-hub-icon-with-text-on-white-background-free-vector.jpg" id="logo" alt="LOGO">
        </div>
        <div class="wrapper">
            <img src="<%= facebook %>" alt="FB QR Code">
            <img src="https://www.freepnglogos.com/uploads/logo-facebook-png/logo-facebook-facebook-logo-png-transparent-svg-vector-bie-supply-13.png" id="logo" alt="LOGO">
        </div>
        <div class="wrapper">
            <img src="<%= insta %>" alt="Insta QR Code">
            <img src="https://www.sunsettop.com.au/wp-content/uploads/2017/05/new-instagram-text-logo-960x249.png" id="logo" id="l" alt="LOGO">
        </div>
        <div class="wrapper">
            <img src="<%= linkedin %>" alt="Linkedin QR Code">
            <img src="https://1000logos.net/wp-content/uploads/2023/01/LinkedIn-Logo-2019.png" id="logo" id="l" alt="LOGO">
        </div>
        <div class="wrapper">
            <img src="<%= snapchat %>" alt="Linkedin QR Code">
            <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/snapchat_logo_icon_169746.png" id="logo" id="l" alt="LOGO">
        </div>
    </div>
</body>
</html>
